*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    display: flex;
    justify-content: center;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}